$primary-color: rgba(4,198,242, 1);
$secondary-color: rgba(2,39,114, 1);
$tertiary-color: rgba(3,89,165, 1);
$accent-color: rgba(242,94,121, 1);
$accent-alternative: rgba(242,192,99, 1);
$text-color: #F2F2F2;
$border: solid 1px;
$box-shadow: 0 2px 10px 0 $secondary-color;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);
$sans-serif: "League Gothic", Helvetica, Verdana, sans-serif;
$serif: Sanchez, Georgia, "Times New Roman", serif;
$mono: "IBM Plex Mono", Courier, mono;

