@import '../../../sass/styles';

ul {
  list-style: none;
  display: flex;
  gap: .7em;

  li {
    a {
      @include btn($background-color: $secondary-color,
        $color: $text-color,
        $bold: 'true');

      &:hover {
        @include btn($accent-alternative, $secondary-color, 'false');
        box-shadow: $box-shadow;
      }
    }
  }
}

header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: 0.5em;
    position: sticky;

    background-color: $primary-color;
    font-weight: weight(bold);
  }
}
