<section class="wrapper">
  <div class="readonly">
    <header>Datos</header>
    <form action="#">
      <div class="image">
        <img  src="../../../assets/img/AvatarMaker.png" class="img">
      </div>
      <input class="read" type="text" placeholder="Roxy S." readonly  />
      <input class="read" type="text" placeholder="Pérez" readonly  />
      <input class="read" type="text" placeholder="necropsia32@gmail.com" readonly  />
    </form>
  </div>

  <div class="vl"></div>

  <div class="edition">
    <header>Edición</header>
    <form action="#">
      <input type="text" placeholder="Nombre" required />
      <input type="text" placeholder="Apellidos" required />
      <input type="text" placeholder="Email" required />
      <input type="text" placeholder="/images/profile.jpg" required  />
      <input type="submit" value="Modificar" />
    </form>
  </div>
</section>
