<section class="wrapper">
  <div class="readonly">
    <header>Datos</header>
    <form action="#">
      <div class="image">
        <img src="../../../assets/img/AvatarMaker.png" class="img">
      </div>
      <input class="read" type="text" placeholder="Name" readonly value="{{ user.name }}" />
      <input class="read" type="text" placeholder="Surname" readonly value="{{ user.surname }}" />
      <input class="read" type="text" placeholder="Email" readonly value="{{ user.email }}" />
      <input class="read" type="text" placeholder="url" readonly value="{{ user.url }}" />
    </form>
  </div>

  <div class="vl"></div>

  <div class="edition">
    <header>Edición</header>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
      <input type="text" name="name" placeholder="Nombre" ngModel required />
      <input type="text" name="surname" placeholder="Apellidos" ngModel required />
      <input type="text" name="email" placeholder="Email" ngModel required />
      <input type="text" name="url" placeholder="/images/profile.jpg" ngModel required />
      <input type="submit" value="Modificar" />
    </form>
  </div>
</section>
