<section class="card-container">

  <article class="c-card c-card--center">
    <header class="c-card__header">
      <img src="https://via.placeholder.com/350x200" class="c-card__image" alt="Card Image" />
    </header>

    <div class="c-card__body">
      <h2 class="c-card__title">
        El Hombre en busca de sentido
      </h2>
      <p class="c-card__subtitle">
        Viktor Frankl
      </p>
      <p class="c-card__intro">
        12,25€
      </p>
    </div>

    <div class="c-card__footer">
      <p>Tapa blanda</p>
      <img src="../../../assets/img/El-hombre-en-busca-de-sentido.jpg">
    </div>
  </article>

  <article class="c-card c-card--center">
    <header class="c-card__header">
      <img src="https://via.placeholder.com/350x200" class="c-card__image" alt="Card Image" />
    </header>

    <div class="c-card__body">
      <h2 class="c-card__title">
        El Coronel no tiene quien le escriba
      </h2>
      <p class="c-card__subtitle">
        Gabriel García Márquez
      </p>
      <p class="c-card__intro">
        15,10€
      </p>
    </div>

    <div class="c-card__footer">
      <p>Tapa dura</p>
      <img src="../../../assets/img/coronel.jpg">
    </div>
  </article>


  <article class="c-card c-card--center">
    <header class="c-card__header">
      <img src="https://via.placeholder.com/350x200" class="c-card__image" alt="Card Image" />
    </header>

    <div class="c-card__body">
      <h2 class="c-card__title">
        Por si las voces vuelven
      </h2>
      <p class="c-card__subtitle">
        Ángel Martín
      </p>
      <p class="c-card__intro">
        17,00€
      </p>
    </div>

    <div class="c-card__footer">
      <p>Tapa blanda</p>
      <img src="../../../assets/img/porsilasvoces.jpeg">
    </div>
  </article>

</section>
