@import '../../../sass/styles';

.wrapper {
  margin: 1em auto;
  padding: 1em 2em;
  background: $secondary-color;
  border-radius: 12px;
  box-shadow: 0 0 10px $accent-alternative;
  width: 70%;
  display: block;
}

.frmLogin {
  margin: 0 auto;
  background: $secondary-color;
  display: flex;
  flex-wrap: wrap;

  .input-fields {
    flex: 40%;
    margin-right: 5%;

    input {
      background: transparent;
      width: 80%;
      border: none;
      border-bottom: 2px solid $accent-alternative;
      padding: 1em;
      color: $text-color;
    }
  }

}

.btn {
  @include btn($background-color: $secondary-color,
    $color: $text-color,
    $bold: 'true');
  height: 1em;
}
