@import '../../../sass/styles';

.wrapper {
  @include flexCenter(row);
  width: 60%;
  margin: 1em auto;
  padding: 1em 2em;
  background: $secondary-color;
  border-radius: 12px;
  box-shadow: 0 0 10px $accent-alternative;
  font-size: 1.1rem;
  font-family: serif;
  font-weight: weight(regular);

  .email {
    margin: 1em .5em;
    padding: .5em .2em;
  }

}

.frmLogin {
  background: $secondary-color;
  display: flex;
  flex-wrap: nowrap;

  .input-fields {
    height: 10px;
    margin: 1.5em 1.5em;
    padding: .5em .2em;

    input {
      background: transparent;
      width: 80%;
      border: none;
      border-bottom: 2px solid $accent-alternative;
      color: $text-color;
      outline: none;
      border: none;
    }
  }

}

.btn {
  @include btn($accent-alternative, $tertiary-color, 'true');
  margin: 1em 1em;
  cursor: pointer;
  max-width: 50%;

  &:hover {
    background-color: $accent-color;
    box-shadow: $box-shadow;
    color: $text-color;
  }
}
