<div class="wrapper">
  <h3>Registro</h3>
  <form class="form-register">
    <div class="input-fields">
      <input type="text" name="name" id="name" placeholder="Name">
      <input type="email" name="email" id="email" placeholder="Email">
      <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <div class="image">
      <img src="../../../assets/img/AvatarMaker.png">
    </div>
  </form>
  <div>
    <button type="button" class="btnForm">Registro</button>
  </div>
</div>
