@import '../../../sass/styles';

h3 {
  color: $text-color;
  font-size: 150%;
  font-weight: weight(bold);
  text-align: center;
}

.wrapper {
  margin: 1em auto;
  padding: 1em 2em;
  background: $secondary-color;
  border-radius: 12px;
  box-shadow: 0 0 10px $accent-alternative;
  width: 70%;
  display: block;
}

.form-register {
  margin: 0 auto;
  background: $secondary-color;
  display: flex;
  flex-wrap: wrap;

  .image {
    @include flexCenter(column);
    width: 45%;
    max-width: 470px;

    img {
      width: 60%;
      height: 100%;
      margin: .1em auto;
      border-radius: 14px;
      box-shadow: $box-shadow-light;
    }
  }

  .input-fields {
    flex: 40%;
    margin-right: 5%;

    input {
      background: transparent;
      width: 80%;
      border: none;
      border-bottom: 2px solid $accent-alternative;
      padding: 1em;
      color: $text-color;
    }
  }

}

.btnForm {

  list-style: none;
  border: none;
  background: $accent-alternative;
  margin: 1em auto;
  padding: .7em 1.5em;
  border-radius: 50px;
  cursor: pointer;
  color: $secondary-color;
  text-align: center;
  font-weight: weight(bold);
  height: 100%;

  &:hover {
    background: $accent-color;
    box-shadow: $box-shadow;
    color: $text-color;
  }
}

::-webkit-input-placeholder {
  color: $text-color;
}

::-moz-placeholder {
  color: $text-color;
}

@media only screen and (max-width:600px) {
  .form-register {
    flex-direction: column;
  }

  .input-fields,
  .image {
    width: 100%;
  }
}
